{% extends "base.html" %}

{% load staticfiles %}

{% block base_block %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/Styles/products/item.css'%}">
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <div class="main">
        <div class="left">
            <img src="/media/products/{{id}}.jpg" class="img1">
        </div>

        <div class="right">
            <h1 class="pname1">{{name}}</h1>
            <hr>
            <h3 class="price1">Price :- ₹{{Price}} </h3>
            <h3 class="type1">Type :- {{type}}</h3>
			<h3 class="comp1">Company :- {{company}}</h3>
            <h3 class="specs1">Description :-</h3>
            <p>{{ desc }}</p>
            <!-- <h3>
                {% for i in specs %}
                
                {% endfor %}
    
            </h3> -->
            <form  method="post">

            <p>Choose Seller :-</p>
            {% for S in seller %}
            <input type="radio" name="seller" required value="{{ S.Inventory_ID }}">{{S.Seller_Name}} <small>(Rating:{{S.Seller_Star}})</small> {{S.Seller_City}} {{S.Seller_State}} <br/>
    
            {% endfor %}
                {% csrf_token %}
            <button type="submit" value="cart" name="add">Add to Cart</button>
            <button type="submit" value="rig" name="add">Add to Rig</button>
            
            </form>
        </div>
    </div>
{% endblock %}
