<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
        
        .out {
            display:none;
        }
        .outi{
            display:block;
        }
    </style>
</head>

<body>
    <button class="butt">others</button>
    <div id="other"  >
        <p class="in">name</p>
        <p class="out">dept</p>
        

    </div>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script src="test.js"></script>
</body>
</html>