<!DOCTYPE html>
<html>
<head lang="en" dir="ltr">

    
    {% load staticfiles %}
    
    
    <link rel="stylesheet" href="{% static 'Styles\home\home.css' %}"/>

    <meta charset="UTF-8">
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
</head>
<body>
  <nav id="nav1">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/product/main">Products</a></li>
      <li> <a href="#">Support</a></li>
      {% if user.is_authenticated %}
      <li><a href="/user/cart">Cart</a></li>
      <li><a href="/rig/home">Rig</a></li>
      {% endif %}
    </ul>
    <a href="{%if user.is_authenticated %}/user/cart{%else%}/user/login{%endif%}"><ion-icon name="cart" id="cart"></ion-icon></a>
    <div id="sign" >
      {% if user.is_authenticated %}
        <a>Hello,{{ user.username }} | </a>
        <a href="/user/logout">Logout</a>
        <!-- <object data="/media/profile/no_image.jpg" type="image/jpg"> -->
          <!-- <a>
          <img src="/media/profile/{{ user.id }}.jpg" width="30" alt="example">
        </a> -->
        
      {% else %}
      <a href="/user/register">SIGN UP | </a>
      <a href="/user/login">LOGIN</a>
      {% endif %}
    </div>
  </nav>

  {% block base_block %}

        <!-- block of base html -->

  {% endblock %}
      
</body>

</html>
