{% extends "base.html" %}

{% load staticfiles %}

{% block base_block %}


<link rel="stylesheet" href="{% static '/Styles/products/comp.css' %}">
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>    
    <!-- <div id="aside-div"> -->
      <aside class="process">
          <div class="Brand">
          <span><b>Brand</b></span>
          <br />
        </div>
      </aside>

      <div class="pro">
        {% for c in components %}
        
        <article class="{{ c.Company }}">
          <!-- <div class="article-image" style="background:url('processor1.webp')" ></div> -->
          <a href="/product/{{c.Product_Types}}/{{ c.Name }}">
          <div class="image"  > <img src="/media/products/{{c.ID}}.jpg" height="300" width="365" /></div>
          <div class="content">
              <p>
            <br />
            <br />
            <br />
          </p>
          
          <h3> {{ c.Name }} 
            </h3>
          <p>
            by {{c.Company }}<br />₹{{ c.Price }}<br /> Get it by Tuesday, March 19 <br />
          </p>
          <!-- <br />  More Buying Choices <br /> $625 (6 new offers)</p> -->
                </div>
            <h3>Seller - {{ c.Seller_ID }} <small>{{ c.Seller_City}},{{ c.Seller_State }}</small></h3>
          </article>
          
          {% endfor %}
          <h1>Total Price -  {{total }}</h1>
          </a>
      </div>

      





{% endblock %}